.overflow{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.s1bg{
    height: 1024px;
    width: 100%;
    margin: auto;
    position: absolute;
    background-image: url(./img/main_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.s1{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 30px;
}
.tairitsu{
    position: absolute;
    height: 1000px;
    top: 100px;
    bottom: -20%;
    left: calc(40vw - 400px);
}
.hikari{
    position: absolute;
    z-index: 1;
    height: 800px;
    top: 200px;
    bottom: -10%;
    right: calc(40vw - 400px);
}
.tag{   /* 超感覺rhythm */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}
.arc_logo{
    height: 200px;
    position: absolute;
    z-index: 2;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.googlePlay , .ios{
    height: 60px;
    position: absolute;
    z-index: 2;
    right:8vw;
}
.googlePlay{
    bottom: 40px;

}
.ios{
    bottom: 90px;
}

/* 
z-index
    2 超感覺rhythm / Arcaea Logo / google play / ios
    1 光
    0 對立
    -1 背景 / login-btn
*/

.s2{
    width: 100%;
    height:600px;
    
    background-color: var(--black);
    color: #FFFFFF;
    position: relative;
}
h2,h3,h4,h5,p{
   margin: 0;
   text-align: center;
   color: var(--white);
 
}
h2{
    font-weight: 600;
    font-size: 2rem;
    padding-top: 50px;
}
h3{
    font-weight: 200;
    padding-bottom: 60px;
}

.songs{
    padding-top: 36px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.song-card{
    height: 290px;
    width: 220px;
    position: relative;
}
.song-card div{
    width: 220px;
    height: 220px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.s2 h4{
    margin: 10px 0;
    font-size: 18px;
}
.s2 h5{
    font-weight: 300;
}

.s3{
    width: 100%;
    /* height: 700px; */
    position: relative;
}
.s3_overflow{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.s3bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(./img/s3_bg_dark.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.7);
}

.s3 h2{
    font-weight: 900;
    /* font-size: 36px; */
    padding-top: 40px;
    color: var(--white);

    /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */

 }
.s3 span{
    font-weight: 900;
    font-size: 2rem;
    color: var(--white);
    background-image: linear-gradient(45deg, #F95499, #8F12E1);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.char_Q{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 20px;
    flex-wrap: wrap;
}
.char{
    position: relative;
    display: flex;
}
.tairitsu_Q,.hikari_Q{
    height: 400px;
    width: auto;
    filter: drop-shadow(0 0 10px #000);
}
.char_Hikari,.char_Tairitsu{
    align-self: flex-end;
    font-size: 40px;    
    font-weight: 900;
    margin: 0 20px;
}
.char_Hikari h4{
    text-align: right;
}
.char_Tairitsu h4{
    text-align: left;
}
.s3 h5{
    padding-bottom: 40px;
}
.char_Hikari h5{
    color: #F95499;
    
}
.char_Tairitsu h5{
    color: #8F12E1;
}

.s4{
    width: 100%;
    /* height: 900px; */
    position: relative;
    background-color: var(--black);
}
.s4 img{
    left: 0;
    height: 90px;
    width: auto;
}
.s4 img:first-child{
    position: relative;
}
.scr_sml{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 40px;
    overflow: hidden;
}

.scr-1,.scr-2,.scr-3,.scr-4,.scr-5{
    filter: brightness(0.5);
    transition-duration: 200ms;
    cursor: pointer;
}
.scr-1:hover,.scr-2:hover,.scr-3:hover,.scr-4:hover,.scr-5:hover {
    filter: brightness(1);
    transition-duration: 200ms;
    cursor: pointer;
}

.scr{
    width: 70%;
    margin: auto;
    position: relative;
    padding-bottom: 80px;
}
.scr img{
    position: absolute;
    width: 100%;
    height: auto;
}

.s5{
    width: 100%;
    position: relative;
    filter: brightness(0.);
    overflow: hidden;
}
.s5_bg{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-image: url(./img/s5_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.25);
}
.video{
    position: relative;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
}
iframe{
    width: 100%;
    aspect-ratio: 16/9;
}
.download{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}