@media (max-width:1024px) {
    .overflow {
        height: 768px;
    }

    li {
        font-size: 15px;
    }

    .tairitsu {
        position: absolute;
        height: 700px;
        top: 150px;
        bottom: -10%;
        left: 15px;
    }

    .hikari {
        position: absolute;
        height: 600px;
        top: 200px;
        bottom: -10%;
        right: 20px;
    }

    .tag {
        width: 200px;
        top: auto;
        bottom: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .arc_logo {
        height: 150px;
    }

    .googlePlay, .ios {
        display: none;
    }

    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }

    /* s2 */
    .s2{
        height: auto;
    }
    .songs {
        padding-bottom: 8px;
        margin-bottom: 40px;
        overflow-x: auto;
        gap: 10px;
        /*  */

        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: var(--purple);
            /* opacity: 0; */
            /* 預設隱藏 */
            /* transition: opacity 0.5s ease-in-out; */
            /* 平滑過渡 */
        }

        &:hover::-webkit-scrollbar-thumb {
            opacity: 1;
        }
    }

    /* s3 */
    .s3 .span{
        font-size: 1.5rem;
    }
    .char_Q{
        gap: 10px;
    }
    .s3 img{
        height: 300px;
    }
    .char_Hikari,.char_Tairitsu{
    font-size: 2rem;
    margin: 0;
    }

    /* s4 */
    .s4{
        height: auto;
    }
    .scr_sml {
        display: none;
    }

    .scr {
        width: 90%;
        margin-bottom: 40px;
        padding: 0;
        position: relative;
        display: flex;
        visibility: visible;
        overflow-x: auto;
        
        &::-webkit-scrollbar {
            height: 4px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: var(--purple);
            opacity: 0;
            /* 預設隱藏 */
            transition: opacity 0.5s ease-in-out;
            /* 平滑過渡 */
        }

        &:hover::-webkit-scrollbar-thumb {
            opacity: 1;
        }
    }

    .scr img {
        width: calc(88vw);
        height: auto;
        padding: 0 12px;

        position: relative;
    }
}

@media (max-width:576px) {
    .overflow {
        height: 900px;
    }

    .tairitsu {
        left: -45px;
    }

    .hikari {
        top: 350px;
        right: -40px;
    }

    .tag {
        bottom: 180px;
    }

    h2{
        font-size: 1.5rem;
        padding-top: 20px;
    }
    h3{
        font-size: 1rem;
        padding-bottom: 20px;
    }
    .s3 .span{
        font-size: 1rem;
    }
    .s3 img{
        height: 250px;
    }
    .video{
        width: 85%;
    }
    .download img {
        height: 50px;
    }
}