@media (max-width: 1024px) {
    .swich img {
        height: 50px;
    }
    .swich{
        margin-top: 10px;
    }

    .song, .song_small{
        gap: 10px;
    }
    .song img:nth-child( 1 ){
        height: 50px;
    }
    .song img:nth-child( 2 ){
        height: 25px;
    }
    .song img:nth-child( 3 ){
        height: 100px;
    }
    

    .song_small img:nth-child( 2 ){
        height: 20px;
    }
    .song_small img:nth-child( 3 ){
        height: 100px;
    }
}
@media (max-width: 576px) {    
    .swich img {
        height: 38px;
    }
    h1{
        font-size: 1.5rem;
    }

    .song, .song_small{
        position: relative;
        left: -15px;
        gap: 5px;
    }
    .song img:nth-child( 1 ){
        height: 30px;
        padding-top: 4px;
    }
    .song img:nth-child( 2 ){
        height: 15px;
    }
    .song img:nth-child( 3 ){
        height: 90px;
        margin: 0 5px;
    }
    
    .song_small img:nth-child( 2 ){
        height: 10px;
    }
    .song_small img:nth-child( 3 ){
        height: 80px;
        margin: 0 5px;
    }

    .fill{
        padding: 0px;
    }

    h3, .song_small h3{
        font-size: 0.8rem;
    }
    h4, h5, .song_small h4, .song_small h5{
        font-size: 1rem;
    }
    .song_small h1{
        font-size: 16px;
        margin: 0 10px;
    }
}