/* header */
@media (max-width: 840px) {
    header ul {
        display: none;
    }
    #icon_menu {
        display: block;
        cursor: pointer;
    }
    .menu {
        display: block;
    }
}
@media (max-width: 426px) {
    #icon_menu {
        width: 24px;
        margin-right: 10px;
    }
    .menu a {
        font-size: 1rem;
    }
}
/* footer */
@media (max-width: 426px) {
    footer {
        font-size: 0.8rem;
    }
    .logo_footer img {
        width: 100px;
    }
}